.App {
  text-align: center;
  /* width: 70%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  box-shadow: 0 0 4px 2px;
  position: fixed;
  width: 100%;
  margin-bottom: 40px;
  z-index: 200;
  background-color: #fff;
  /* height: 4rem;
  display: flex;
  justify-content: center; */
  /* padding-top: 1rem; */
  /* text-align:  */
}

b {
  font-size: 35px;
}

.hs {
  margin-top: 50px;
}

.h1{
  /* margin: 20px 0px 20px 0px; */
  font-size: 150%;
}

.h2 {
  margin: 0px 0px 45px 0px ;
  font-size: 17px;
}

h4 {
  margin-bottom: 40px;
}

.logo {
  width: 45px;
  height: 45px;
}

.centered {
  display: flex;
  align-items: center;
}

/* .header-row {
  display: flex;
  justify-content: space-between;
} */

.border {
  /* border: 1px solid black; */
}

.header-group {
  padding: .5px 1px 1px 1px;
  /* border: 1px solid primary; */
}

.log-in {
  display: flex;
  justify-content: flex-end;
}

.drop-city {
  /* width: 3rem; */
}

ul {
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 24% 24% 24% 24%;  
  grid-template-rows: auto; 
  grid-gap: 1rem;
  list-style-type: none;
}

.new-ul {
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 32% 32% 32%;  
  grid-template-rows: auto; 
  grid-gap: 1rem;
  list-style-type: none;
}

li {
  /* text-decoration: none; */
  padding: 0;
  margin: 0;
}

.card-img {
  height: 270px;
  overflow: hidden;
  /* width: 250px; */
  background-size: contain;
  background-position: center;
}

.cardText {
  /* height: 50px; */
  /* width: 20rem; */
  white-space: nowrap;
  /* -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;   */
  /* display: inline; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  background-color: #fff;
  padding: 10px 0 10px 20px;
  margin: 0;
  /* max-height: 400px */
}

.card-item {
  /* max-width: 15rem; */
  /* margin-left: 30px; */
}

.card-item:hover {
  opacity: .7;
  transition: .4s;
}

.footer {
  margin-top: 50px;
  display: flex;
  background-color: rgb(3, 98, 250);
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.app {
  min-height: 100vh;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.cont {
  width: 60%;
}

.fast-c {
  opacity: 0.4;
  pointer-events: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.8); */
}

.main-title {
  font-size: 40px;
}

.main-btns {
  margin-bottom: 20px;
}

.main-descr{
  font-size: 20px;
  margin-bottom: 70px;
}

.fcd {
  display: flex;
}

.fast-c-title {
  /* height: 40%; */
  display: flex;
  justify-content: end;
  margin: 10px 20px;
}

.fast-card {
  display: inline-flex;
  margin-top: 8%;
  /* margin-bottom: 40px; */
  width: 70%;
  opacity: 1;
  pointer-events: all;
  height: 70%;
  /* margin: 0 auto; */
  /* margin-bottom: 200vh; */
  /* margin-top: 30%; */
  overflow: hidden;
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  transition: 0s;
}

.fast-card-text {
  padding-left: 20px;
}

.fast-card-text p {
  margin-top: 20px;
}

.fast-card-text span {
  font-size: 150%;
  /* margin-bottom: 20px; */
}

.fast-card-text button {
  margin-top: 20px;
  overflow: hidden;
  /* background-color: #fff; */
}

.fast-title {
  display: flex;
  /* background-color: #aaa; */
  justify-content: space-between;
}

.card-title {
  font-size: 15px;
}

h1 {
  margin-top: 70px;
}

.img-div {
  height: 550px;
  max-width: 100%;
}

.fast-card img {
  /* flex-shrink: 0; */
  /* object-fit: cover; */
  width: 400px;
  height: 400px;
  /* overflow: hidden; */
  /* max-width: 1200px; */
  /* max-height: 450px; */
}

.x, .x:hover {
  cursor:pointer;
}

.main-div {
  /* position: absolute; */
  /* margin: 0 auto; */
  /* padding: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.normal {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.my-acc {
  /* margin-right: 26.5%; */
}

.my-card {
  border: 10px solid black;
  opacity: 1; 
}

.my-div {
  margin-top: 2rem;
  /* display: flex; */
  /* align-items: start; */
}

.btn-grp {
  display: flex;
  justify-content: space-between;
}

.my-card-text {
  /* display: flex;
  justify-content: space-between; */
}

.main-card {
  /* margin-top: -15%; */
  /* min-height: 350px; */
  min-height: 550px;
  display: flex;
  /* width: 550px; */
}

.main-card img {
  max-width: 550px;
  max-height: 550px;
}

.search-div {
  margin-top: 40px;
}

.ul-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  list-style-type: none;
}

.h6 {
  margin-top: 60px;
}

.drop-price {
  margin-top: 50px;
}

.drop-btn {
  margin-top: 50px;
  width: 90%;
  margin-left: 10px;
}

.drops .row{
  /* width: 3rem; */
  /* grid-gap: 1rem; */
  /* display: flex; */
  /* justify-content: start; */
}

.hdr-btns {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}